.todo-form {
  margin-top: 5px;
}

/*label button todo*/
form { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px; 
} 


button {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  font-size: 20px;
  font-family: 'Ubuntu Mono';
  background: #c01d1d;
  border-radius:  25px 25px 25px 25px  ;
  opacity: 0.6;
  color: rgb(72, 255, 0);
  animation: pulse 1s ease infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: #ad7fad;
    opacity: 0.9;
  }
  40% {
    background-color: #ff0000;
   
  }
}

#todo {
  background:  rgb(72, 255, 0);
  opacity: 0.5;
  color: rgb(4, 0, 255);
  font-size: 3rem;
  width: 100%;
  text-align: right;
}

label {
  padding: 5px;
  width: 100%;
  font-size: 24px;
  text-align: center;
  border: 3px double rgb(63, 175, 29);
}

@media (max-width: 700px) {
  #todo  {
    width: 108px;
    max-width: 100%;
    padding: 5px;
    font-size: 2.5rem;
 }
}

@media (max-width: 700px) {
  button  {
    padding: 1px;
 }
}
