* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  background: #243446;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 13px;
  background-image: url('./img/galaxl.png');
}


hr {
  border-color:rgb(63, 175, 29);
  margin: 20px 0;
}

#app {
  padding-top: 64px;
  font-size: 12px;
  text-align: center;
  color: rgb(63, 175, 29);
  font-family: 'Ubuntu Mono';
}

h1 {
  padding: 6px;
  margin: 7px;
  font-size: 58px;
  text-align: center;
  color: rgb(63, 175, 29);
  font-family: 'Ubuntu Mono';
  background-image: url('./img/galaxl.png');
  border-radius:   9px 9px 9px 9px ;
  opacity: 0.7;
}

h2 {
  padding: 4px;
  margin: 2px;
  font-size: 18px;
  text-align: center;
  color: rgb(63, 175, 29);
  font-family: 'Ubuntu Mono';
  background-image: url('./img/galaxl.png');
  border-radius:   9px 9px 9px 9px ;
  opacity: 0.7;
}

h4 {
  padding: 20px;
  opacity: 0.7;
  background-image: url('./img/starshiph.png');
  background-position: center;
  background-repeat: no-repeat;
 }

h5 {
  font-size: 14px;
  text-align: center;
  color: rgb(197, 223, 54);
  margin: 2px;
  padding: 10px;
  background-image: url('./img/galaxl.png');
  border-radius:   9px 9px 9px 9px ;
  opacity: 0.7;
}


ul {
  margin: 0px;
  padding-bottom: 10px;
  background-image: url('./img/galaxl.png');
  border-radius:  15px 15px 15px 15px ;
  opacity: 0.7;

} 

li {
 font-size: 16px;
 margin: 20px 0;
 padding: 10px;
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0px);
  color: red;
} 

.name {
grid-column: -1 / -3;
padding-top: 6px;
padding-right: 41px;
text-align: right;
font-family: 'Ubuntu Mono', sans-serif;
color: red;
} 


.remove-button {
  cursor: pointer;
  padding: 10px;
  height: 30px;
  width: 18px;
  margin-right: 10px;
  color: red;
  grid-column: 1;
  background-image: url('./img/trashpic.png');
  background-size: cover;
  animation: pulse 1s ease infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: #ad7fad;
    opacity: 0.9;
  }
  40% {
    background-color: #ff0000;
   
  }
}

